    body {
        margin: 0;
        padding: 0;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .info {
        padding: 8px 16px 4px 16px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    .info a {
        color: #ffffff;
        text-decoration: none;
    }

    .info h1 {
        margin: 0 0 0px;
    }

    .leaflet-control-layers-toggle {
        width: 26px;
        height: 26px;
        background-size: 80%;
    }

    .leaflet-touch .leaflet-control-layers-toggle {
        width: 30px;
        height: 30px;
        background-size: 80%;
    }

    #slider {
        margin: 85px 0px 0px 97.5%;
        height: 200px;
        z-index: 1000;
    }
